# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby
vendor/
.bundle/
*.gem
Gemfile.lock

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Editor files
*.swp
*.swo
*~
.vscode/
.idea/

# Logs
*.log